.author {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;

  @include breakpoint($bp-small) {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__name {
    line-height: .7;
  }

  &__social-media {
    display: flex;
    flex-flow: row wrap;
  }
}