.nav-toggle {
  justify-self: flex-end;
  cursor: pointer;

  @include breakpoint($bp-nav-big) {
    display: none;
  }

  &__icon {
    @include burger(25px, 3px, 5px, $dark-gray);

    .nav-toggle--active & {
      @include burger-to-cross;
    }
  }

  &--mobile {
    margin: 1rem;
  }
}
